<!-- 404_content -->
<style type="text/css">
p.test {font-family: Georgia, serif;
    font-size: 78px;
    font-style: italic;}

.titlehead {     border: 3px solid;
border-color: #c4183c;}
</style>
<div class="card">
    <div class="card-body">
        <div class="titlehead"><br>
            <center>
        <div>
		      <small>Ohje !</small><br>
		      <p class="test">404 Error.</p><br>
              <p>Die angefragte Seite konnte nicht gefunden werden.<br>The requested page could not be found.</p>
        </div>
              <p><a class="btn btn-warning" href="javascript: history.back(-1)">zur&uuml;ck / back</a></p>
	          <br />
	        </center>
        </div>
    </div>
</div>
<!-- END -->