<!-- contact_head -->
<h2><span><i class="fas fa-mail-bulk"></i>&nbsp;$title</span></h2>
<!-- END -->

<!-- contact_failure -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">%title_contact%</h3>
  </div>
  <div class="panel-body">
    <p>%description%</p>
    $showerror
  </div>
</div>
<!-- END -->

<!-- contact_loggedin -->
<div class="card">
  <div class="card-body">
    <!-- Description -->
    $description
    <!-- Error Box -->
    $showerror
    <form action="index.php?site=contact" method="post" role="form" onsubmit="return validate()" class="form-horizontal">
      <input type="hidden" name="action" value="send">
      <div class="row">
        <div class="col-sm-5">
          <!-- Receiver -->
          <div class="form-group">
            <select name="getemail" id="select-receiver" class="form-control">
            $getemail
            </select>
            
          </div>
          <!-- Name -->
          <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-user fa-fw"></i>
                        </div>
                    </div>
                        <input type="text" name="name" id="input-name" class="form-control" placeholder="$name">
                </div>
            </div>
          
          <!-- Mail -->
          <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-envelope fa-fw"></i>
                        </div>
                    </div>
                        <input type="email" name="from" id="input-mail" class="form-control" placeholder="$mail">
                        
                </div>
                <small>$e_mail_info</small>
            </div>
             <script type="text/javascript">
        function validate() {
          if (document.getElementById('accept_gdpr').checked) {
            return true;
          } else {
            alert("$lang_GDPRaccept");
            return false;
          }
          return false;
        }
      </script>
        
          <blockquote>
            <input type="checkbox" class="form-check-input" id="accept_gdpr" value="0"> $lang_GDPRinfo <br /><br />
            <a class="btn btn-primary" href="index.php?site=privacy_policy">$lang_privacy_policy</a>
          </blockquote>
       
        </div>
        <div class="col-sm-7">
          <!-- Subject -->
          <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>
                        <input type="text" name="subject" id="input-subject" class="form-control" placeholder="$subject">
                </div>
            </div>
          
          <!-- Message -->
          <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-comment"></i>
                        </div>
                    </div>
                        <textarea name="text" id="textarea-message" class="form-control" rows="10" value="$message">$text</textarea>
                </div>
            </div>
          
        </div>
      </div>
      
      <!-- Submit button -->
      <div class="form-group">
      
      <button type="submit" class="btn btn-primary col-md-12">$send</button>
        
      </div>
    </form>
  </div>
</div>
<!-- END -->

<!-- contact_notloggedin -->
<div class="card">
  <div class="card-body">
    <!-- Description -->
    $description
    <!-- Error Box -->
    $showerror
    <form action="index.php?site=contact" method="post" role="form" onsubmit="return validate()" class="form-horizontal">
      <input type="hidden" name="action" value="send">
      <div class="row">
        <div class="col-sm-5">
          <!-- Receiver -->
          <div class="form-group">
            <select name="getemail" id="select-receiver" class="form-control">
            $getemail
            </select>
            
          </div>
          
          <!-- Name -->
          <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-user fa-fw"></i>
                        </div>
                    </div>
                        <input type="text" name="name" class="form-control" id="input-name" placeholder="$user">
                </div>
            </div>
          
          <!-- Mail -->
          <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-envelope fa-fw"></i>
                        </div>
                    </div>
                        <input type="email" name="from" class="form-control" id="input-mail" placeholder="$mail">
                        
                </div>
                <small>$e_mail_info</small>
            </div>
             <script type="text/javascript">
        function validate() {
          if (document.getElementById('accept_gdpr').checked) {
            return true;
          } else {
            alert("$lang_GDPRaccept");
            return false;
          }
          return false;
        }
      </script>
        
          <blockquote>
            <input type="checkbox" class="form-check-input" id="accept_gdpr" value="0"> $lang_GDPRinfo <br /><br />
            <a class="btn btn-primary" href="index.php?site=privacy_policy">$lang_privacy_policy</a>
          </blockquote>

          
        </div>
        <div class="col-sm-7">
          <!-- Subject -->
           <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>
                        <input type="text" name="subject" class="form-control" id="input-subject" placeholder="$subject">
                </div>
            </div>
          
          <!-- Message -->
          <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-comment"></i>
                        </div>
                    </div>
                        <textarea name="text" id="textarea-message" class="form-control" rows="10">$text</textarea>
                </div>
            </div>
          
          <!-- Security code -->
          <div class="form-group">
            
            <div class="input-group mb-2">
              <label for="input-security-code" class="control-label">$security_code:</label>
              $_captcha
           </div>
            </div>
          
        </div>
      </div>
      
      <!-- Submit button -->
      <div class="form-group">
      
      <button type="submit" class="btn btn-primary col-md-12">$send</button>
        
      </div>
    </form>
  </div>
</div>

<!-- END -->
