<!-- contact_head -->
<div class="head-boxes">
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
</div>
<!-- END -->

<!-- contact_failure -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">%title_contact%</h3>
  </div>
  <div class="panel-body">
    <p>%description%</p>
    $showerror
  </div>
</div>
<!-- END -->

<!-- contact_loggedin -->
<div class="card">
  <div class="card-body">
    <!-- Description -->
    <p>$description</p>
    <!-- Error Box -->
    $showerror
    <form action="index.php?site=contact" method="post" role="form" onsubmit="return validate()" class="form-horizontal">
      <input type="hidden" name="action" value="send">
      <div class="row">
        <div class="col-sm-5">
          <!-- Receiver -->
          <div class="input-group mb-3">
            <select class="form-select" name="getemail" aria-label="Default select example">
            $getemail
            </select>
            
          </div>
          <!-- Name -->          
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user fa-fw"></i></span>
            <input type="text" name="name" class="form-control" placeholder="$name" aria-label="Name" aria-describedby="basic-addon1">
          </div>
          <!-- Mail -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"><i class="fas fa-envelope fa-fw"></i></span>
            <input type="email" name="from" class="form-control" placeholder="$mail" aria-label="mail" aria-describedby="basic-addon2">
          </div>
        
          <small>$e_mail_info</small><br />
    
        
        </div>
        <div class="col-sm-7">
          <!-- Subject -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3"><i class="fas fa-info-circle"></i></span>
            <input type="text" name="subject" class="form-control" placeholder="$subject" aria-label="subject" aria-describedby="basic-addon3">
          </div>
          <!-- Message -->
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="fas fa-comment"></i></span>
            <textarea name="text" class="form-control" aria-label="With textarea" rows="9" value="$message">$text</textarea>
          </div>

          
        </div>


<div class="col-sm-12">
<script type="text/javascript">
            function validate() {
            if (document.getElementById('accept_gdpr').checked) {
              return true;
            } else {
              alert("$lang_GDPRaccept");
              return false;
            }
              return false;
            }
          </script>
          <blockquote>
            <input type="checkbox" class="form-check-input" id="accept_gdpr" value="0"> $lang_GDPRinfo 
          </blockquote>

</div>
      </div>
      
      <!-- Submit button -->
      <div class="form-group text-right">
      
      <button type="submit" class="btn btn-primary">$send</button>
        
      </div>
    </form>
  </div>
</div>
<!-- END -->

<!-- contact_notloggedin -->
<div class="card">
  <div class="card-body">
    <!-- Description -->
    <p>$description</p>
    <!-- Error Box -->
    $showerror
    <form action="index.php?site=contact" method="post" role="form" onsubmit="return validate()" class="form-horizontal">
      <input type="hidden" name="action" value="send">
      <div class="row">
        <div class="col-sm-5">
          <!-- Receiver -->
          <div class="input-group mb-3">
            <select class="form-select" name="getemail" aria-label="Default select example">
            $getemail
            </select>
            
          </div>
          
          <!-- Name -->          
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user fa-fw"></i></span>
            <input type="text" name="name" class="form-control" placeholder="$name" aria-label="Name" aria-describedby="basic-addon1">
          </div>
          <!-- Mail -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"><i class="fas fa-envelope fa-fw"></i></span>
            <input type="email" name="from" class="form-control" placeholder="$mail" aria-label="mail" aria-describedby="basic-addon2">
          </div>
        
          <small>$e_mail_info</small><br />

            
          
        </div>
        <div class="col-sm-7">
          <!-- Subject -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3"><i class="fas fa-info-circle"></i></span>
            <input type="text" name="subject" class="form-control" placeholder="$subject" aria-label="subject" aria-describedby="basic-addon3">
          </div>
          <!-- Message -->
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="fas fa-comment"></i></span>
            <textarea name="text" class="form-control" aria-label="With textarea" rows="9" value="$message">$text</textarea>
          </div>
          
          <!-- Security code -->
            <div class="form-group">
                <label for="input-security-code" class="control-label">$security_code:</label>
                <div class="input-group">
                   $_captcha
                </div>
            </div>

          
        </div>

        <div class="col-sm-12">
          <script type="text/javascript">
            function validate() {
            if (document.getElementById('accept_gdpr').checked) {
              return true;
            } else {
              alert("$lang_GDPRaccept");
              return false;
            }
              return false;
            }
          </script>
          <blockquote>
            <input type="checkbox" class="form-check-input" id="accept_gdpr" value="0"> $lang_GDPRinfo 
          </blockquote>

</div>
      </div>
      
      <!-- Submit button -->
      <div class="form-group text-right">
      
      <button type="submit" class="btn btn-primary">$send</button>
        
      </div>
    </form>
  </div>
</div>

<!-- END -->
