<!-- error_404_content -->
<style type="text/css">
.titlehead {     border: 3px solid;
border-color: #c4183c; background-color: #fff}
</style>
<div class="head-boxes">
<h2 class="head-h2">
    <span class="head-boxes-title">404 Error</span>
</h2>
</div>

<div class="card">
    <div class="card-body titlehead"><br>
            <center>
        
		      <small>Ohje !</small><br>
		      <h1 style="font-family: Georgia, serif;font-size: 58px;font-style: italic;">404 Error.</h1>
              $_language->module['info']
              <p><a class="btn btn-warning" href="javascript: history.back(-1)">zur&uuml;ck / back</a></p>
	          <br />
	        </center>
        
    </div>
</div>
<!-- END -->