<!-- imprint_head -->
<h2 class="titlehead"><span><i class="fas fa-stamp"></i>&nbsp;$imprint</span></h2>
<!-- END -->
<!-- imprint_content -->
<div class="card">
    <div class="card-body">
        <h4>$headline1</h4>
        $imprint_head
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
     <h4>$disclaimer</h4>
        $disclaimer_text
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <h4>$headline2</h4>
        <p>$coding_info $version $coding_info1</p>
        <p>Copyright 2005-2015 by webspell.org - <a href="http://www.webspell.org" target="_blank"><strong>webSPELL.org</strong></a></p>
    </div>
</div>
<!-- END -->