<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="Website using webSPELL-RM CMS">
	<meta name="keywords" content="Clandesign, Webspell, Webspell | RM, Wespellanpassungen, Webdesign, Tutorials, Downloads, Webspell-rm, rm, addon, plugin, Templates Webspell Addons, Webspell-rm, rm, plungin, mods, Wespellanpassungen, Modifikationen und Anpassungen und mehr!">
    <meta name="robots" content="all">
    <meta name="abstract" content="Anpasser an Webspell | RM">
    <meta name="copyright" content="Copyright &copy; 2017-2018 by webspell-rm.de">
    <meta name="author" content="webspell-rm.de">
    <meta name="revisit-After" content="1days">
    <meta name="distribution" content="global">
    <link rel="SHORTCUT ICON" href="/includes/themes/default/templates/favicon.ico">

    <title>$pagetitle</title>
    <base href="$rewriteBase">
    <link href="components/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="css/lockpage.css" rel="stylesheet" type="text/css">
    
</head>

<body>
<div class="lock_wrapper">
	<div class="container text-center">
		<div class="col-lg-12">
			<img class="img-responsive" src="images/logo.png" alt=""/>
			<div class="shdw"></div>
		</div>
		<h2>The page is currently locked, please try again later!</h2>
		<p>$reason</p>
		<h4>Admin Login</h4> 
		<form class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-lg-4 col-lg-offset-4" method="post" name="login" action="checklogin.php">
			<div class="form-group">
				<input class="form-control text-center" name="ws_user" type="text" placeholder="Username">
			</div>
			<div class="form-group">
				<input class="form-control text-center" name="password" type="password" placeholder="Password">
			</div>
			<div class="form-group">
				<input class="form-control btn-success" type="submit" name="Submit" value="login">
			</div>
		</form>
	</div>
</div>
</body>
</html>
