<!-- logged_content -->
$lng_welcome: $username<br>

<ul class="nav nav-list">
    <li class="nav-header">$l_avatar</li>
    <li><a href="index.php?site=loginoverview">$lng_overview</a></li>
    <li><a href="index.php?site=myprofile">$lng_edit_account</a></li>
    <li><a href="index.php?site=messenger"><span class="badge pull-right">$newmessages</span> $lng_messenger</a></li>
    <li><a href="index.php?site=usergallery">$lng_galleries</a></li>
    <li><a href="index.php?site=buddies">$lng_buddy_list</a></li>
    $admin
    $cashbox
    <li><a href="$_modulepath/logout.php">$lng_logout</a></li>
</ul>
<!-- END -->