<!-- loginoverview_head -->
<h2><span><i class="fas fa-user-cog"></i>&nbsp;$title</span></h2>

<!-- END -->
<!-- loginoverview_content -->
<div class="card">
  <div class="card-body">

    <h5>$informations</h5>


  
<table class="table">
    <tr>
        <td style="width: 50%">$user:</td>
        <td style="width: 50%">$username</td>
        
    </tr>
    <tr>
        <td>$last_login:</td>
        <td>$lastlogin</td>
    </tr>

    <tr>
        <td>$registered:</td>
        <td>$registerdate</td>
    </tr>
</table>
<hr>
<h5>$menu</h5>
<ul class="list-inline justify-content-center">
    <li class="list-inline-item">
        <a class="btn btn-warning btn-lg" href="index.php?site=myprofile"><i class="fas fa-user-cog"></i> $edit_account</a>
    </li>
    <li class="list-inline-item">$admincenterpic</li>
    <li class="list-inline-item"><a class="btn btn-danger btn-lg" href="index.php?site=logout.php"><i class="fas fa-sign-out-alt"></i> $logout</a>
    </li>
     
</ul>

</div></div>

<!-- END -->