<!-- login_content -->


        <h2><span><i class="fa fa-sign-in"></i>&nbsp;$login_titel</span></h2>
<div class="card">
  <div class="card-body">

<div class="row">
     
          <div class="col-md-6">   
              <h3 class="line">$login_titel</h3>
              <br>
                  <!--<p>$info</p>-->
                      <form method="post" name="login" action="$_modulepath/checklogin.php">
                            <div id="ws-login-alert" class="alert hidden"></div>


                            <div class="col-auto">
                              <label class="sr-only" for="inlineFormInputGroup">Username</label>
                              <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user fa-fw"></i></div>
                                  </div>
                                <input name="ws_user" type="text" placeholder="Username" class="form-control" id="inlineFormInputGroup" required>
                              </div>
                            </div>

                            <div class="col-auto">
                              <label class="sr-only" for="inlineFormInputGroup">Username</label>
                              <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-lock fa-fw"></i></div>
                                  </div>
                                <input name="password" type="password" placeholder="Password" class="form-control" id="inlineFormInputGroup" required>
                              </div>
                              <small><a href="index.php?site=lostpassword">$lost_password</a></small>
                            </div>
   
                             
                                <div class="form-group" style="text-align: center">
                                      <input type="submit" name="submit" value="$login" class="btn btn-primary">
                                </div>
                      </form>
          </div>
          <div class="col-md-6">

              <h3 class="line">$lang_register</h3><br>
        
              <p>$info1 <br><a href="index.php?site=register">$info2</a> $info3</p>
        
              <div class="form-group" style="text-align: center">
                  <a href="index.php?site=register" class="btn btn-primary">$info4</a>
              </div>
              <p>$info</p>
       
          </div>
      
</div></div></div>
<!-- END -->