<!-- loginoverview_head -->
<div class="head-boxes">
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
</div>
<!-- END -->
<!-- loginoverview_content -->
<div class="card">
  <div class="card-body">

    <h5>$informations</h5>


  <div class="row gy-1">
    <div class="col-6">
      <div class="p-2">$user:</div>
    </div>
    <div class="col-6">
      <div class="p-2">$username</div>
    </div>
    <hr>
    <div class="col-6">
      <div class="p-2">$last_login:</div>
    </div>
    <div class="col-6">
      <div class="p-2">$lastlogin</div>
    </div>
    <hr>
    <div class="col-6">
      <div class="p-2">$registered:</div>
    </div>
    <div class="col-6">
      <div class="p-2">$registerdate</div>
    </div>
    <hr>
    <div class="col-6">
      <div class="p-2">$messenger:</div>
    </div>
    <div class="col-6">
      <div class="p-2">$new_messages</div>
    </div>
  </div>


  
$kalender
<hr>
<h5>$menu</h5>
<ul class="list-inline justify-content-center">
    $edit_account
    $usergallery
    $new_messages_button
    $admincenterpic
    $cash_box
    $logout

    
     
</ul>

</div></div>

<!-- END -->