<!-- loginoverview_head -->
<h2><span><i class="fas fa-user-cog"></i>&nbsp;$title</span></h2>

<!-- END -->
<!-- loginoverview_content -->
<div class="card">
  <div class="card-body">

    <h5>$informations</h5>


  
<table class="table">
    <tr>
        <td style="width: 50%">$user:</td>
        <td style="width: 50%">$username</td>
        
    </tr>
    <tr>
        <td>$last_login:</td>
        <td>$lastlogin</td>
    </tr>

    <tr>
        <td>$registered:</td>
        <td>$registerdate</td>
    </tr>
    $new_messages
</table>
$kalender
<hr>
<h5>$menu</h5>
<ul class="list-inline justify-content-center">
    $edit_account
    $usergallery
    $new_messages_button
    $admincenterpic
    $cash_box
    $logout

    
     
</ul>

</div></div>

<!-- END -->