<!-- navigation_dd_open -->
<ul class="navbar-nav">
<!-- END -->
<!-- navigation_main_head -->
	<li class="nav-item"><a class="nav-link" href="$url">$name</a></li>
<!-- END -->
<!-- navigation_dd_head -->
	<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="$url" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">$name</a>
              
<!-- END -->		
<!-- navigation_sub_open -->
        <div class="dropdown-menu subnav" aria-labelledby="dropdown09">
<!-- END -->
<!-- navigation_sub_nav -->
<a class="dropdown-item subnav" href="$url">$name</a>
            
<!-- END -->
<!-- navigation_sub_close -->
     </div>
<!-- END -->
<!-- navigation_dd_foot -->

    </li>
<!-- END -->