<!-- navigation_dd_open -->
<ul class="navbar-nav">
<!-- END -->
<!-- navigation_main_head -->
	<li class="nav-item mr-2"><a class="nav-link nav-head" href="$url">$name&nbsp;</a>
<!-- END -->
<!-- navigation_dd_head -->
	<li class="nav-item dropdown mr-2">
              <a class="nav-link dropdown-toggle" href="$url" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">$name</a>
              
<!-- END -->

<!-- navigation_sub_open -->
        <div class="dropdown-menu subnav" aria-labelledby="dropdown09">
<!-- END -->
<!-- navigation_sub_nav -->
<a class="dropdown-item subnav" href="$url">$name</a>
            
<!-- END -->
<!-- navigation_sub_close -->
     </div>
<!-- END -->


<!-- navigation_dd_foot -->

    </li>
<!-- END -->

<!-- navigation_dd_close -->

    </ul>
<!-- END -->

<!-- navigation_login_head -->
<li class="nav-item underline dropdown mr-2">
<!-- END -->

<!-- navigation_login_loggedin -->
    
     	<a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">$lang_overview</a>
            <div class="dropdown-menu subnav" aria-labelledby="dropdown09">
            <a class="dropdown-item subnav" href="index.php?site=loginoverview">$lang_user_information</a>
            <a class="dropdown-item subnav" href="index.php?site=myprofile">$lang_edit_profile</a>

<!-- END -->

<!-- navigation_login_admin -->

        <a class="dropdown-item subnav" href="admin/admincenter.php" target="_blank">$lang_admincenter</a>


<!-- END -->

<!-- navigation_login_log_off -->        
             <a class="dropdown-item subnav" href="index.php?site=logout">$lang_log_off</a>
           </div>
           <li class="list-group-item"><span class="navigation-icons ml-2">$newmessages $icon</span> <a data-toggle="tooltip" data-placement="bottom" title="Ausloggen" href="index.php?site=logout"><span class="mt-3 badge badge-danger logout-btn"><i class="fas fa-sign-out-alt"></i></span></a></li>
<!-- END -->

<!-- navigation_login_login -->            
    
    <a class="nav-link login" href="index.php?site=login">$lang_login</a>

<!-- END -->
<!-- navigation_login_lagugage -->  

    <li class="nav-item dropdown mr-2 d-inline-flex language-top">lagugage</li>

<!-- END -->

<!-- navigation_login_foot -->

</li>
<!-- END -->

<!-- navigation_language_head -->
<ul class="list-group list-group-horizontal test">
<!-- END -->
<!-- navigation_language_content_head -->  
<li class="list-group-item language">
<!-- END -->
<!-- navigation_language_content_foot -->
</li>
<!-- END -->
<!-- navigation_language_foot --> 
</ul>
<!-- END -->