<!-- profile_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
<p class="head-boxes-foot">$subtitle</p>
</div>
$banned
<!-- END -->

<!-- profile_contentstart_one -->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <h5>$personal_info</h5>
                    </div>
                    <div class="col-md-9 col-sm-12 text-end">
                        $usergallery $cash_box $new_messages_button $edit_account $admincenterpic $logout
                    </div>
                </div>    
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" style="display: flex; 
                        justify-content: center; 
                        align-items: center;">$userpic
                    </div>
                    <div class="col-md-4">
                        <table class="table">
                            <tr>
                                <td>$nick_name:</td>
                                <td>$nickname $member</td>
                            </tr>
                            <tr>
<!-- END -->

<!-- profile_name -->
    <td>$real_name:</td>
        $firstname $lastname
</tr>
<tr>
<!-- END -->  
<!-- profile_birthday -->                          
    <td>$lang_birthday:</td>
        $birth_day
</tr>
<tr>
<!-- END --> 
<!-- profile_gender --> 
    <td>$lang_gender:</td>
        $gender
</tr>
<tr>
<!-- END -->
<!-- profile_town -->
    <td>$location:</td>
        $town
</tr>
<tr>                       
<!-- END -->

<!-- profile_pm -->
    <td>$contact $message:</td>
        $pm
</tr>
<tr>                                
<!-- END -->
<!-- profile_email -->
    <td>$contact $iemail:</td>
        $email                 
<!-- END -->

<!-- profile_contentstart_two --> 
</tr>                           
    </table>
        </div>
            <div class="" style="width: 40px"></div>
                <div class="col-md-4">
                    <table class="table">
                        <tr>
                            <td>$status_on_off:</td>
                            <td>$status</td>
                        </tr>
                        <tr>
                            <td>$last_login:</td>
                            <td>$lastlogin</td>
                        </tr>
                        <tr>
                            <td>$registered:</td>
                            <td>$registerdate</td>
                        </tr>
                        <tr>
<!-- END -->

<!-- profile_usertitle -->
    <td>$usertitle:</td>
    <td>$rang<br><small>$usertype</small> $specialrank</td>                 
<!-- END -->

<!-- profile_contentstart_three -->
</tr>                           
    </table> 
        </div>

        <div class="ca1rd margin-top-lg">
            <div class="profile-head">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="about-tab" data-bs-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">$lang_about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="signature-tab" data-bs-toggle="tab" href="#signature" role="tab" aria-controls="signature" aria-selected="true">$lang_signature</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="social_media-tab" data-bs-toggle="tab" href="#social_media" role="tab" aria-controls="social_media" aria-selected="false">$social_media</a>
                    </li>
                    $last_post
                    $gallery_link
                    $squad_link
                    $game_link
                    $calendar_link
                    <li class="nav-item">
                        <a class="nav-link" id="statistics-tab" data-bs-toggle="tab" href="#statistics" role="tab" aria-controls="statistics" aria-selected="false">$statistics</a>
                    </li>
                    $user_award_link
                    $user_award_list
                </ul>
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-current="about-tab">
                                        
                        <div class="col-12">
                            <h4>$lang_about</h4><br>
                            $about
                        </div>
                                        
                        </div>
                        <div class="tab-pane fade" id="signature" role="tabpanel" aria-current="signature-tab">
                                        
                        <div class="col-12">
                            <h4>$lang_signature</h4><br>
                            $signature
                        </div>
                                        
                        </div>
                        <div class="tab-pane fade" id="social_media" role="tabpanel" aria-current="social_media-tab">
                                    
                            <div class="col-md-12 text-center">
                                <h4>$social-media</h4><br>
                                $twitch
                                $youtube
                                $twitter
                                $instagram
                                $facebook
                                $steam
                                $discord
                                $homepage
                            </div>
                        </div>
                        <div class="tab-pane fade" id="squad" role="tabpanel" aria-current="squad-tab">
                            <div class="col-md-12 row d-flex justify-content-center">
                                <h4 class="d-flex justify-content-center">$lang_squads</h4><br>
                                $banner
                            </div>
                        </div> 
                        <div class="tab-pane fade" id="games" role="tabpanel" aria-current="games-tab">
                            <div class="col-md-12 text-center">
                                <h4>$lang_games</h4><br>
                                $games
                            </div>
                        </div> 
                        <div class="tab-pane fade" id="calendar" role="tabpanel" aria-current="calendar-tab">
                            <div class="col-md-12 text-center">
                                <h4>$upcoming_events</h4><br>
                                $kalender
                            </div>
                        </div> 
                        <div class="tab-pane fade" id="statistics" role="tabpanel" aria-current="statistics-tab">
                            <div class="col-md-12 row">
                                <h4 class="d-flex justify-content-center">$statistics</h4><br>
                                <div class="col-md-4">
                                    <table class="table table-sm">
                                        <tr><td colspan="2">
                                        $latest_visitors ($anzvisits)
                                    </td></tr>
                                        $lastvisits  
                                    </table>
                                </div>
                                <div class="col-md-8 row">

                                    <div class="col-md-4">
                                    <ul class="list-group">
                                    <li class="list-group-item activex" aria-current="true"><b>$comment</b></li>
                                    <li class="list-group-item">$articlescomments: <b>$articles_comments</b></li>
                                    <li class="list-group-item">$blogcomments: <b>$blog_comments</b></li>
                                    <li class="list-group-item">$pollscomments: <b>$polls_comments</b></li>
                                    <li class="list-group-item">$newscomments: <b>$news_comments</b></li>
                                    <li class="list-group-item">$gallerycomments: <b>$gallery_comments</b></li>
                                    <li class="list-group-item">$videoscomments: <b>$videos_comments</b></li>
                                    </ul>
                                    </div>

                                    <div class="col-md-4">
                                    <ul class="list-group">
                                    <li class="list-group-item activex" aria-current="true"><b>$messages</b></li>
                                    <li class="list-group-item">$newsposts: <b>$new_posts</b></li>
                                    <li class="list-group-item">$forumtopics: <b>$new_forum_topics</b></li>
                                    <li class="list-group-item">$forumposts: <b>$new_forum_posts</b></li>
                                    <li class="list-group-item">$blogtopics: <b>$new_blog_topics</b></li>
                                    <li class="list-group-item">$newspolls: <b>$new_polls</b></li>
                                    </ul>   
                                    </div>

                                    <div class="col-md-4">
                                    <ul class="list-group">
                                    <li class="list-group-item activex" aria-current="true"><b>$news</b></li>
                                    <li class="list-group-item">$messenger ($incoming): <b>$pm_got</b></li>
                                    <li class="list-group-item">$messenger ($outgoing): <b>$pm_sent</b></li>
                                    </ul>   
                                    </div>

                                </div>
                            </div>
                        </div>   
                        
                        <div class="tab-pane fade" id="awards" role="tabpanel" aria-current="awards-tab">
                            <div class="col-md-12 text-center">
                                <h4>$lang_awards</h4><br>
                                $awards
                            </div>
                        </div>    
                    </div>  
                </div>
<!-- END -->

<!-- profile_contentend -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END -->

<!-- profile_lastposts -->
    <div class="row">
        <div class="col-sm-6">
            <h5>$last_topics</h5>
            <table class="table table-hover">
                $topiclist
            </table>                        
        </div>
        <div class="col-sm-6">
            <h5>$last_posts</h5>
            <table class="table table-hover">
                $postlist
            </table>
        </div>
    </div>  
<!-- END -->

<!-- profile_galleries -->
    <div class="col card bildmitbildunterschrift" style="margin: 0px -5px 10px -5px;width: 220px">
        $picture  
    </div>
<!-- END -->