<!-- profile_head -->
<h2><span><i class="fa fa-user"></i>&nbsp;$profile</span></h2>
<p>$banned</p>
<!-- END -->
<!-- profile_content -->
<div class="card">
  <div class="card-body">
<div class="row">
<div class="col-md-12"><h5>$personal_info</h5></div>
<div class="col-md-12">
    <div class="row">
  <div class="col-md-3">$profile_bg</div>
  <div class="col-md-4">

                <table class="table">
                    <tr>
                        <td>$real_name:</td>
                        <td>$firstname $lastname</td>
                    </tr>
                    <tr>
                        <td>$nick_name:</td>
                        <td>$nickname $member</td>
                    </tr>
                    <tr>
                        <td>$age:</td>
                        <td>$birthday</td>
                    </tr>
                    <tr>
                        <td>$sexuality:</td>
                        <td>$sex</td>
                    </tr>
                    <tr>
                        <td>$location:</td>
                        <td>$profilecountry $town</td>
                    </tr>
                </table>
       </div>
<div class="col-md-5">

        <table class="table">
                    <tr>
                        <td>$status_on_off:</td>
                        <td>$status</td>
                    </tr>
                    <tr>
                        <td>$last_login:</td>
                        <td>$lastlogin</td>
                    </tr>
                    <!--<tr>
                        <td>$usertitle:</td>
                        <td>$usertype $rang $specialrank</td>
                    </tr>-->
                    <tr>
                        <td>$home_page:</td>
                        <td>$homepage</td>
                    </tr>
                    <tr>
                        <td>$contact:</td>
                        <td>$pm $email</td>
                    </tr>
         </table>
        </div>
        </div>
      </div>  
<div class="col-md-12"><hr></div>
<div class="col-md-12"><h5>$social_media</h5></div>

<div class="col-md-12">
<div class="row">

                <div class="col-md-4">
                <table class="table table-hover">
                    <tr>
                        <td>$media_twitch:</td>
                        <td>$twitch</td>
                    </tr>
                    <tr>
                        <td>$media_youtube:</td>
                        <td>$youtube</td>
                    </tr>
                </table>
                </div>
                <div class="col-md-4">
                <table class="table table-hover">
                    <tr>
                        <td>$media_twitter:</td>
                        <td>$twitter</td>
                    </tr>
                    <tr>
                        <td>$media_instagram:</td>
                        <td>$instagram</td>
                    </tr>
                </table>
                </div>
                <div class="col-md-4">
                <table class="table table-hover">
                    <tr>
                        <td>$media_facebook:</td>
                        <td>$facebook</td>
                    </tr>
                    

                </table>
                </div>

      </div></div>
   <div class="col-md-12"><hr></div>

<div class="col-md-12"><h5>$media_about</h5></div>
<div class="col-md-12">

                $about

            </div>

</div>
</div></div>
<!-- END -->