
/* =================================
------------------------------------
  webSPELL | RM Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/


/*---------------------------*/
/* Template default CSS
/*---------------------------*/

@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Roboto+Mono);

.container{ 
  max-width:1250px;  /* eventuell ändern */
  width:100%; 
}
body{
  font-weight:200;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;}
p{margin-bottom:1.75rem}
hr{margin-top:1.125rem;margin-bottom:1.125rem}

b, strong {
    font-weight: 700;
}

.tooltip{z-index:1070;margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;font-weight:300;line-height:1.5;font-size:.875rem}
.tooltip.show{opacity:1}
.tooltip .arrow{width:5px;height:5px}
.tooltip.bs-tooltip-auto[x-placement^=top],.tooltip.bs-tooltip-top{padding:5px 0}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,.tooltip.bs-tooltip-top .arrow::before{margin-left:-3px;border-width:5px 5px 0;border-top-color:#fff}
.tooltip.bs-tooltip-auto[x-placement^=right],.tooltip.bs-tooltip-right{padding:0 5px}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before,.tooltip.bs-tooltip-right .arrow::before{margin-top:-3px;border-width:5px 5px 5px 0;border-right-color:#fff}
.tooltip.bs-tooltip-auto[x-placement^=bottom],.tooltip.bs-tooltip-bottom{padding:5px 0}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,.tooltip.bs-tooltip-bottom .arrow::before{margin-left:-3px;border-width:0 5px 5px;border-bottom-color:#fff}
.tooltip.bs-tooltip-auto[x-placement^=left],.tooltip.bs-tooltip-left{padding:0 5px}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before,.tooltip.bs-tooltip-left .arrow::before{margin-top:-3px;border-width:5px 0 5px 5px;border-left-color:#fff}
.tooltip-inner{max-width:200px;padding:7px 13px;color:#5a6169;background-color:#fff;border-radius:.375rem;box-shadow:0 3px 15px rgba(90,97,105,.1),0 2px 3px rgba(90,97,105,.2)}

h2 span {
    border-bottom: 1px solid #fe821d;
    display: inline-block;
    line-height: 1 !important;
    margin: 0 -11px -11px;
    padding: 15px 0 12px 0;
    text-transform: uppercase;
    }
    h2 {
    border-bottom: 1px solid #ebeaea;
    display: block;
    line-height: 1 !important;
    margin: 0 0 10px;
    color: #555555;
    font-weight: 300;
    padding: 10px;
    }

/* login */
.line {
    border-bottom: 1px solid #ebeaea;
    display: block;
    line-height: 1 !important;
    margin: 0 0 10px;
    color: #555555;
    font-weight: 300;
    padding: 10px;
    }

/* navi */
.container.navi {
    max-width: 800px;
}

.deu {
    margin-right: 15px;
}
.navbar-brand {
    margin-right: 2rem;
}
.navbar-toggler {
    border-color: rgb(153,153,153);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(153,153,153, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}   

.dropdown-menu {
    margin: 0; /* without this, the dropdown menu disappears if you are not fast enough with your mouse! */
} 

blockquote {
    font-family: "Roboto Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New", serif;
    font-size: 14px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    background:#ececec;
    border-left:5px solid #FF7F00;
    
}

.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#fe821d;text-decoration:none;background-color:#fff;border:1px solid #ddd}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#fe821d;border-color:#fe821d}


#maincol {margin-top: 50px;margin-bottom: 40px; }
#leftcol {margin-top: 50px;margin-bottom: 40px; } 
#rightcol {margin-top: 50px;margin-bottom: 40px; }
#noheadcol {margin-top: 50px;margin-bottom: 40px; }
#headcol {margin-top: 68px;}
#footcol {margin-top: 20px;}

