
/* =================================
------------------------------------
  webSPELL | RM Template
  Version: 2.0
 ------------------------------------ 
 ====================================*/


/*@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');

.container{ 
  max-width:1280px;  /* eventuell ändern */
  width:100%; 
}

body {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

body, .sticky-footer-wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}


.tooltip{z-index:1070;margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;font-weight:300;line-height:1.5;font-size:.875rem}
.tooltip.show{opacity:1}
.tooltip .arrow{width:5px;height:5px}
.tooltip.bs-tooltip-auto[x-placement^=top],.tooltip.bs-tooltip-top{padding:5px 0}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,.tooltip.bs-tooltip-top .arrow::before{margin-left:-3px;border-width:5px 5px 0;border-top-color:#fff}
.tooltip.bs-tooltip-auto[x-placement^=right],.tooltip.bs-tooltip-right{padding:0 5px}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before,.tooltip.bs-tooltip-right .arrow::before{margin-top:-3px;border-width:5px 5px 5px 0;border-right-color:#fff}
.tooltip.bs-tooltip-auto[x-placement^=bottom],.tooltip.bs-tooltip-bottom{padding:5px 0}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,.tooltip.bs-tooltip-bottom .arrow::before{margin-left:-3px;border-width:0 5px 5px;border-bottom-color:#fff}
.tooltip.bs-tooltip-auto[x-placement^=left],.tooltip.bs-tooltip-left{padding:0 5px}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before,.tooltip.bs-tooltip-left .arrow::before{margin-top:-3px;border-width:5px 0 5px 5px;border-left-color:#fff}
.tooltip-inner{max-width:200px;padding:7px 13px;color:#5a6169;background-color:#fff;border-radius:.375rem;box-shadow:0 3px 15px rgba(90,97,105,.1),0 2px 3px rgba(90,97,105,.2)}

/*----------h2 Überschriften mit Unterstrich ---------------*/
h2 span {
    /*border-bottom: 1px solid #fe821d;--over /components/css/styles.css.php-------------*/
    display: inline-block;
    line-height: 1 !important;
    margin: 0 -11px -11px;
    padding: 15px 0 12px 0;
    text-transform: uppercase;
    }
    h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    display: block;
    line-height: 1 !important;
    margin: 0 0 10px;
    color: #adafae;
    font-weight: 300;
    font-size: 25px;
    padding: 10px;
    }


blockquote {
    font-family: "Roboto Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New", serif;
    font-size: 14px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    background:#ececec;
    /*border-left:5px solid #FF7F00;--over /components/css/styles.css.php-------------*/
    
}

.pagination>li>a,.pagination>li>span{
    position:relative;
    float:left;
    padding:6px 12px;
    margin-left:-1px;
    line-height:1.42857143;
    /*color:#fe821d;--over /components/css/styles.css.php-------------*/
    text-decoration:none;
    background-color:#000;
    border:1px solid rgba(255,255,255,0.13)}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
    z-index:3;
    color:#fff;
    cursor:default;
    /*background-color:#fe821d;--over /components/css/styles.css.php-------------*/
    border-color: rgba(255,255,255,0.13)}

    /* dataTable */

table.dataTable tbody tr{background-color: rgba(0,0,0, 0.0) !important; /*Zeilenhintergrung */
/*color: #aaa;--over /components/css/styles.css.php-------------*/
}


/* card Design */
.card{margin-bottom: 10px;
  border-radius: 0;
/*background-color: #ffffff;
border:none;dee2e6
border: 1px solid #908e8e !important;
border-radius:.625rem;*/
box-shadow:0 .46875rem 2.1875rem rgba(90,97,105,0.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
/*color: #555;
text-shadow: #777 1px 1px 0;*/
}
.card .card-text{margin-bottom:1.5625rem}
.card a:hover{text-decoration:none}
.card-body{padding:1.875rem}
.card-title{font-weight:500;margin-bottom:.75rem}
.card-link{font-family:Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif}
.card-link+.card-link{margin-left:1.875rem}
/*.card>.list-group:first-child .list-group-item:first-child{border-top-left-radius:.625rem;border-top-right-radius:.625rem}
.card>.list-group:last-child .list-group-item:last-child{border-bottom-right-radius:.625rem;border-bottom-left-radius:.625rem}
.card .list-group-item{padding:.8125rem 1.875rem;border-bottom: 1px solid #908e8e !important;}*/
.card-header{padding:1.09375rem 1.875rem;background-color:rgba(90,97,105,.06);border-bottom:none}
.card-header:first-child{border-radius:.625rem .625rem 0 0}
.card-footer{padding:1.09375rem 1.875rem;background-color:rgba(90,97,105,.06);border-top:none}
.card-footer:last-child{border-radius:0 0 .625rem .625rem}
.card-header-tabs{margin-bottom:-1rem;border-bottom:0}
.card-header-tabs .nav-link:hover{border-bottom:transparent}
.card-img-overlay{padding:1.875rem 2.1875rem;background:rgba(90,97,105,.5);border-radius:.625rem}
.card-img-overlay .card-title{color:##333}
.card-img{border-radius:.625rem}
.card-img-top{border-top-left-radius:.625rem;border-top-right-radius:.625rem}
.card-img-bottom{border-bottom-right-radius:.625rem;border-bottom-left-radius:.625rem}

/* ckeditor */
.img-ckeditor img {
    max-width: 100%;
    height: auto !important;
}

/* login Linie */
.line {
    border-bottom: 1px solid #ebeaea;
    display: block;
    line-height: 1 !important;
    margin: 0 0 10px;
    color: #555555;
    font-weight: 300;
    padding: 10px;
    }

h2.head-h2 {
    display: block;
    line-height: 1 !important;
    margin: 0 0 10px;
    /*color: #555555;*/
    font-weight: 300;
    font-size: 25px;
    padding: 10px;
    /*text-align: center;*/
}

span.head-boxes-title {
  display: inline-block;
    line-height: 1 !important;
    margin: 0 -11px -11px;
    padding: 15px 0 12px 0;
    text-transform: uppercase;
}


.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #bababa;
  border-radius: 0px;
  border: 1px solid #fff !important;
}

/**************Plugins***************/

/*----------text-slider---------------*/
.hx-text h1 span {
  color: #fe821d;
}

/*----------follow_us---------------*/
.social-media {
  background: #999; }
.social-media h2 {
    margin: 0;
    /*color: #fe821d_--over /components/css/styles.css.php*/ 
}
.social-media small {
    margin: 0;
    /*color: #fe821d;--over /components/css/styles.css.php*/ 
}

/*----------tsviewer---------------*/
#sc_tsviewer {
    background-color:#e3e3e3;
}
#sc_tsviewer-headline {
    /*color: #fe821d;--over /components/css/styles.css.php*/ 
}

.sc_tsviewer-info .fa-stack i {
    /*color: #fe821d;--over /components/css/styles.css.php*/ 
}

.sc_tsviewer-infotitle {
    /*color: #fe821d;--over /components/css/styles.css.php*/ 
}

/*----------sc_partners---------------*/

#partners-bar {
    background: #333;
}



.btn {
border-radius: 0px;
box-shadow:0 .46875rem 2.1875rem rgba(90,97,105,0.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
}

.avatar {
box-shadow:0 .46875rem 2.1875rem rgba(90,97,105,0.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
}

/*login -----------------------------------*/

.login__body {
  min-height: 100%;
}

.login__image {
  -o-object-fit: contain;
     object-fit: contain;
     min-height: 100vh;
}

.login__container,
.login__row {
  min-height: 100vh;  
}

.login__card {
  
}

.login_card {
  background-color: rgba(255,255,255,0.25);
}

.foto {margin-top: -35px;
    margin-bottom: -20px;
}

.reg_pic_text {margin-left: 30px;}
/* dataTable */

table.dataTable tbody tr{background-color: rgba(0,0,0, 0.0) !important; /*Zeilenhintergrung */
/*color: #aaa;--over /components/css/styles.css.php-------------*/}

.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing:border-box;
    display:inline-block;
    min-width:1.5em;
    padding:0.5em 1em;
    margin-left:2px;
    text-align:center;
    text-decoration:none !important;cursor:pointer;*cursor:hand;
    /*color:#aaa !important;border:1px solid transparent;--over /components/css/styles.css.php-------------*/
    border-radius:0px}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    cursor:default;
    /*color:#aaa !important; /*schrift unten links --over /components/css/styles.css.php-------------*/
    border:1px solid transparent;
    background:transparent;
    box-shadow:none}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate{
    /*color:#aaa; /* schrift oben und unten --over /components/css/styles.css.php-------------*/
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
/*color:#fff !important; /*Zahlenblock --over /components/css/styles.css.php-------------*/
border:1px solid #999;
/*background: #000; --over /components/css/styles.css.php-------------*/
}


/* noheadcol Bilder */
.figure {
  height: 198px;
  margin-top: 0px;
  margin-bottom: -30px;
}
.figure-img {
  margin-top: 80px;
  max-height: 198px;
  width: 100%
}
.figure-caption {
  position: absolute;
  left: 45%;
  top: 130px;
}
.noheadcol_text {
  color: #6c757d; 
  font-size: 50px;
}



/* index Abstände */
#maincol {margin-top: 90px;margin-bottom: 0px; }
#leftcol {margin-top: 90px;margin-bottom: 0px; } 
#rightcol {margin-top: 90px;margin-bottom: 0px; }
#noheadcol {margin-top: 90px;margin-bottom: -50px; }
#headcol {margin-top: -20px;}
#footcol {margin-top: 0px;}

#head_section {margin-top: 0px;margin-bottom: 0px; }
#center_head {margin-top: 0px;margin-bottom: 0px; }

#navigation_modul_default {margin-top: 0px;margin-bottom: 80px;}


.navbar-dark {
border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.navbar-dark .navbar-nav .nav-link {
  
  padding-right: -10px;
  padding-left: -10px;
  margin-right: 0px;

  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-right: 0px solid rgba(255, 255, 255, 0.125) !important;
  border-left: 0px solid rgba(255, 255, 255, 0.125) !important;
  display: inline-block;
  /*height: 70px;*/
    
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover { 

outline: none;
}


ul .dropdown-menu {
  border-radius: 0;
  border-color: transparent;
  background-color: transparent;

}

.nav-link .flag {height: 22px}