#passwordstrength-wrap {
    border: 1px solid #D5CEC8;
    display: none;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    width: 320px;
    top: 0;
    left: 550px;
}
#passwordstrength-wrap:before, #passwordstrength-wrap:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
}
#passwordstrength-wrap:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0.1);
    border-top: 7px solid rgba(0, 0, 0, 0);
    content: '';
    display: inline-block;
    left: -18px;
    position: absolute;
    top: 10px;
}
#passwordstrength-wrap:after {
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid #fff;
    border-top: 6px solid rgba(0, 0, 0, 0);
    content: '';
    display: inline-block;
    left: -16px;
    position: absolute;
    top: 11px;
}
#passwordstrength-wrap ul {
    list-style-type: none;
    margin: 5px 0 0;
    padding: 0;
}
#passwordstrength-wrap ul li:before {
    content: '· ';
    font-size: 16px;
    padding-right: 9px;
}
#passwordstrength-wrap ul li.valid:before {
    content: '✔ ';
    font-size: 16px;
    padding-right: 0;
}
#passwordstrength-wrap ul li.valid {
    color: #00B700;
}