.jumbotron.bg {
	background: url(images/traffic.jpg) no-repeat;
	background-size: cover
}
.jumbotron h1 {
	color: #FFF;
	padding: 5px;
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
}
.jumbotron p {
	padding: 5px;
	color: #FFF;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
}