/* noto-sans-100 - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: normal;
  font-weight: 100;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-100.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-100.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-100italic - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: italic;
  font-weight: 100;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-100italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-200 - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-200.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-200.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-200italic - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: italic;
  font-weight: 200;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-200italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-300 - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-300.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-300italic - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-300italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-italic - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-500 - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-500.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-500italic - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: italic;
  font-weight: 500;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-500italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-600 - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-600.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-700.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-600italic - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-600italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-700italic - latin */
@font-face {
  font-family: 'Noto_Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/components/fonts/noto-sans/noto-sans-v27-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/components/fonts/noto-sans/noto-sans-v27-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/components/fonts/noto-sans/noto-sans-v27-latin-700italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}

