<!-- step04_head -->
    <div class="card">
        <div class="card-head">
            <h5 class="card-title">$finish_install</h5>
        </div>
    <div class="card-body">

<!-- END -->
<!-- step04_content -->
        <p>$in_progress</p>
        $text
        <div id="result" style="display:none;">
            $type
            <center>
                <div class="pull-right"><br>
                    <a class="btn btn-primary btn-margin btn-orange" href="../index.php">
                        $view_site
                    </a>
                </div>
            </center>
        </div>
<!-- END -->
<!-- step04_foot -->
    </div>
</div>
<!-- END -->
