<!-- step00_content -->
<div class="card">
    <div class="card-head">
        <h3 class="card-title clearfix">
            <div class="pull-left panel-line">$welcome_to</div>
            <div class="pull-right">
                <small>$select_a_language: $languages</small>
            </div>
        </h3>
    </div>
    <div class="card-body">
        $step00_content
    </div>
</div>
<!-- END -->
<!-- step00_success -->
$welcome_text
<div class="pull-right">
    <a class="btn btn-primary btn-margin btn-orange" href="javascript:document.ws_install.submit()">$continue</a>
</div>
<!-- END -->
