<!-- step04_head -->
    <div class="card">
        <div class="card-head">
            <h5 class="card-title">$finish_install</h5>
        </div>
    <div class="card-body">

<!-- END -->
<!-- step04_content -->
<div id="in_progress"><p>$in_progress</p></div>
        <div id="is_complete" style="display:none;"><p>$is_complete <i class='bi bi-check2'></i></p></div>
        $text
        <div id="result" style="display:none;">
            $type
            <center>
                <div class="text-center"><br>
                    <a class="btn btn-primary btn-margin btn-orange" href="../index.php">
                        $view_site
                    </a>
                </div>
            </center>
        </div>
<!-- END -->
<!-- step04_foot -->
    </div>
</div>
<!-- END -->
