<!-- step02_content -->
<form method="post">
    <div class="card">
        <div class="card-head">
            <h3 class="card-title">
                $title
            </h3>
        </div>
        <div class="card-body">
            $step02_content
            <a class="btn btn-primary float-right" href="javascript:document.ws_install.submit()">
                $continue
            </a>
        </div>
    </div><!-- row end -->
</form>
<!-- END -->
<!-- step02_enterhomepage -->
$enter_url
<div class="form-group">
    <label for="wheretoinstall">Adresse:</label>
    <div class="input-group">
        <input type="text" class="form-control col-md-4" name="hp_url" value="$hp_url">
    </div>
</div>
<!-- END -->
<!-- step02_versionerror -->
<p style="color: #FF0000; font-weight: bold;">$php_version:</p>
<p>$php_info</p>
<br />
<br />
<!-- END -->
<!-- step02_failed -->
<div class="row marketing">
    <div class="col-md-12">
        <div class="alert alert-danger">
            $you_have_to_agree
        </div>
        <a  class="btn btn-danger" href="index.php?step=1">back</a>
    </div>
</div> <!-- row end -->
<!-- END -->