<!-- step02_content -->
    <div class="card">
        <div class="card-head">
            <h3 class="card-title">
                $title
            </h3>
        </div>
        <div class="card-body">
            $step02_content
        </div>
    </div><!-- row end -->
<!-- END -->
<!-- step02_enterhomepage -->
$enter_url
<div class="form-group">
    <label for="wheretoinstall">Adresse:</label>
    <div class="input-group">
        <input type="text" class="form-control col-md-4" name="hp_url" value="$hp_url">
    </div>
</div>
<!-- END -->
<!-- step02_chmod -->
    <br />
    <div class="card">
        <div class="card-head">
            <h3 class="card-title">CHMOD</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item clearfix">
                PHP - Version &gt;= 5.6
                <div class="float-right">$php_version_check</div>
            </div>

            <div class="list-group-item clearfix">
                MultiByte
                <div class="float-right">$mb_check</div>
            </div>

            <div class="list-group-item clearfix">
                Curl
                <div class="float-right">$curl_check</div>
            </div>
            <div class="list-group-item clearfix">
                Curl-Exec
                <div class="float-right">$curlexec_check</div>
            </div>
            <div class="list-group-item clearfix">
                Fopen
                <div class="float-right">$allow_url_fopen_check</div>
            </div>

            <div class="list-group-item clearfix">
                MySQL
                <div class="float-right">$mysqli_check</div>
            </div>
            <div class="list-group-item clearfix">
                stylesheet.css
                <div class="float-right">$stylesheet</div>
            </div>
            <div class="list-group-item clearfix">
                $setting_chmod
                <div class="float-right">
                    $chmod_errors <br /> $value
                </div>
            </div>
        </div>
    </div>
    <br />
<!-- END -->
<!-- step02_select -->
    <div class="card">
        <div class="card-head">
            <h3 class="card-title">$select_install</h3>
        </div>
        <div class="card-body">
            <div class="radio">
                <!--<label>
                    <input type="radio" name="installtype" value="org" $accepted1>$update_org_202
                </label><br>
                <label>
                    <input type="radio" name="installtype" value="nor" $accepted2>$update_125_202
                </label><br>
                <label>
                    <input type="radio" name="installtype" value="rm200" $accepted3>$update_200_201
                </label><br>
                <label>
                    <input type="radio" name="installtype" value="rm201" $accepted4>$update_201_202
                </label><br>-->
                <label>
                    <input type="radio" name="installtype" value="full" $accepted5 id="full_install">
                    $new_install
                </label>
            </div> 
        </div>
    </div>
    <div>
        <a  class="btn btn-danger" href="index.php?step=1">$back</a>
        <a class="btn btn-primary float-right $buttondisabled" aria-disabled="true" href="javascript:document.ws_install.submit()">
            $continue
        </a>
    </div>
<!-- END -->
<!-- step02_versionerror -->
<p style="color: #FF0000; font-weight: bold;">$php_version:</p>
<p>$php_info</p>
<br />
<br />
<!-- END -->
<!-- step02_failed -->
<div class="row marketing">
    <div class="col-md-12">
        <div class="alert alert-danger">
            $you_have_to_agree
        </div>
        <a  class="btn btn-danger" href="index.php?step=1">$back</a>
    </div>
</div> <!-- row end -->
<!-- END -->