/* Main Layout */
.logo .bg-primary {
background-color: transparent !important;
}

.head-boxes {
  padding-bottom: 40px;
}

span.head-boxes-head {
  color: transparent;
  }

.head-boxes h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(var(--bs-body-color),1);
  font-family: "Poppins", sans-serif;
}

.head-boxes h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(var(--bs-body-color),1);
  margin: 4px 10px;
}

p.head-boxes-foot {
  margin: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: rgba(var(--bs-link-color),1);
  margin-bottom: -20px;
}