@import url('https://fonts.googleapis.com/css?family=Montserrat:700%7COpen+Sans:300,300i,400,400i,700,700i%7CRaleway:100,200,300,400,700,900');
body {
	color: #FFF;
	font-family: 'Raleway', sans-serif;
}
.lock_wrapper {
	/*background: radial-gradient(ellipse at center, #00b7ea 0%,#2372af 100%);*/
  background: radial-gradient(ellipse at center, #444 20%,#333333 40%,#222 60%,#111 80%);
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
   width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}
.img-responsive {
    margin: 0 auto;
	z-index: 9;
}
h2 {
	color: #FFF;
	font-weight: 500;
	text-transform: uppercase;
}
p {
	padding: 25px;
}
.form-control {
	height: 42px;
	padding: 8px 18px;
	border: none;
}
.shdw {
	z-index: 99999;
	position: relative;
	height: 80px;
	width: 20%;
	box-shadow: 0 8px 32px -30px rgba(0,0,0,0.7);
  	margin: -100px auto 40px; 
}