
body {
	color: #000;
	font-family: 'Raleway', sans-serif;

  /*background: url(/includes/themes/default/images/login_bg.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/

   background:
    -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1) 100%), 
    url(/images/lock_bg.jpg) no-repeat center center; 
  background:
    linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1) 100%), 
    url(/images/lock_bg.jpg) no-repeat center center; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
h1,
h3,
h5 {color: #000;}

#header {
  margin-top:20px;
  margin-bottom: 120px;
}

#main {
  margin-top:20px;
  margin-bottom: 50px;
}

#social {
  margin-top:50px;
  margin-bottom: 50px;
}

#contact {
  margin-top:20px;
  margin-bottom: 20px;
}

#foot {}

.btn {border-radius: 0px;}

.card{background-color:#fff;
  border:none;
  border-radius: 0px;
  /*box-shadow:0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);*/
}
.card .card-text{margin-bottom:1.5625rem}
.card a:hover{text-decoration:none}
.card-body{padding:1.875rem;color: #000;}
.card-title{font-weight:500;margin-bottom:.75rem}

.form-control {
	height: 42px;
	padding: 8px 18px;
	border: none;
  border-radius: 0px;
}
.login_card {
  /*background-color: rgba(255,255,255,0.35);*/
border:none;
border-radius: 0px;/*box-shadow:0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1)*/
background-color: transparent;}

.url-link {
  color: rgba(var(--bs-body-color),1);  
}

.url-link:hover {
  color: #FF6600;
}

.twitter {
  color: rgba(var(--bs-body-color),1);  
}

.twitter:hover {
  color: #179cf0;
}

.facebook {
    color: rgba(var(--bs-body-color),1);
}
.facebook:hover {
    color: #3b5998;
}

.steam {
  color: rgba(var(--bs-body-color),1);
}
.steam:hover {
  color: #455a64;
}
.discord {
  color: rgba(var(--bs-body-color),1);
}
.discord:hover {
  color: #7289da;
}
.twitch {
  color: rgba(var(--bs-body-color),1);
}
.twitch:hover {
    color: #9147ff;
}
.youtube {
  color: rgba(var(--bs-body-color),1);
} 
.youtube:hover {
    color: #ff0000;
}
.rss {
  color: rgba(var(--bs-body-color),1);
} 
.rss:hover {
    color: #FF6600;
}
.vine {
  color: rgba(var(--bs-body-color),1);
} 
.vine:hover {
    color: #00a478;
}
.flickr {
  color: rgba(var(--bs-body-color),1);
} 
.flickr:hover {
    color: #ff0084;
}
.linkedin {
  color: rgba(var(--bs-body-color),1);
}  
.linkedin:hover {
    color: #007bb6;
}
.instagram {
  color: rgba(var(--bs-body-color),1);
} 
.instagram:hover {
    color: #000000;
}