.nav-tabs-primary {
  border-bottom: 1px solid #fe821d;
}
.nav-tabs-primary > li {
  float: left;
  margin-bottom: -1px;
  margin-right: 4px;
  line-height: 1.42857143;
  border: 1px solid #fe821d;
  border-radius: 0px 0px 0 0;
  border-color: #fe821d #fe821d #fe821d #fe821d;
}
.nav-tabs-primary > li > a {
  border-radius: 0px 0px 0 0;
}
.nav-tabs-primary > li > a:hover {
  border-color: #eee #eee #0095db;
}
.nav-tabs-primary > li.active > a,
.nav-tabs-primary > li.active > a:hover,
.nav-tabs-primary > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #fe821d;
}
.nav-tabs-primary.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs-primary.nav-justified > li {
  float: none;
}
.nav-tabs-primary.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs-primary.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs-primary.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs-primary.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-primary.nav-justified > li > a {
  margin-right: 0;
  border-radius: 0px;
}
.nav-tabs-primary.nav-justified > .active > a,
.nav-tabs-primary.nav-justified > .active > a:hover,
.nav-tabs-primary.nav-justified > .active > a:focus {
  border: 1px solid #fe821d;
}
@media (min-width: 768px) {
  .nav-tabs-primary.nav-justified > li > a {
    border-bottom: 1px solid #fe821d;
    border-radius: 0px 0px 0 0;
  }
  .nav-tabs-primary.nav-justified > .active > a,
  .nav-tabs-primary.nav-justified > .active > a:hover,
  .nav-tabs-primary.nav-justified > .active > a:focus {
    border-bottom-color: #fe821d;
  }
}

.breadcrumb-primary {
  padding: 1px 0px;
  margin-bottom: 1px;
  list-style: none;
  background-color: #fe821d;
}